
# EDA on wold's temperature increasing data

# 01. importing libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 02: loading data

In [3]:
df=pd.read_csv("C:\\Users\\Mr\\Desktop\EDA\\wt.csv")

# information about data set

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 71 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        141 non-null    object
 1   ISO3           141 non-null    object
 2   Indicator      141 non-null    object
 3   Unit           141 non-null    object
 4   Source         141 non-null    object
 5   1961           141 non-null    float64
 6   1962           141 non-null    float64
 7   1963           141 non-null    float64
 8   1964           141 non-null    float64
 9   1965           141 non-null    float64
 10  1966           141 non-null    float64
 11  1967           141 non-null    float64
 12  1968           141 non-null    float64
 13  1969           141 non-null    float64
 14  1970           141 non-null    float64
 15  1971           141 non-null    float64
 16  1972           141 non-null    float64
 17  1973           141 non-null    float64
 18  1974           141 non-null    float64
 19  1975           141 non-null    float64
 20  1976           141 non-null    float64
 21  1977           141 non-null    float64
 22  1978           141 non-null    float64
 23  1979           141 non-null    float64
 24  1980           141 non-null    float64
 25  1981           141 non-null    float64
 26  1982           141 non-null    float64
 27  1983           141 non-null    float64
 28  1984           141 non-null    float64
 29  1985           141 non-null    float64
 30  1986           141 non-null    float64
 31  1987           141 non-null    float64
 32  1988           141 non-null    float64
 33  1989           141 non-null    float64
 34  1990           141 non-null    float64
 35  1991           141 non-null    float64
 36  1992           141 non-null    float64
 37  1993           141 non-null    float64
 38  1994           141 non-null    float64
 39  1995           141 non-null    float64
 40  1996           141 non-null    float64
 41  1997           141 non-null    float64
 42  1998           141 non-null    float64
 43  1999           141 non-null    float64
 44  2000           141 non-null    float64
 45  2001           141 non-null    float64
 46  2002           141 non-null    float64
 47  2003           141 non-null    float64
 48  2004           141 non-null    float64
 49  2005           141 non-null    float64
 50  2006           141 non-null    float64
 51  2007           141 non-null    float64
 52  2008           141 non-null    float64
 53  2009           141 non-null    float64
 54  2010           141 non-null    float64
 55  2011           141 non-null    float64
 56  2012           141 non-null    float64
 57  2013           141 non-null    float64
 58  2014           141 non-null    float64
 59  2015           141 non-null    float64
 60  2016           141 non-null    float64
 61  2017           141 non-null    float64
 62  2018           141 non-null    float64
 63  2019           141 non-null    float64
 64  2020           141 non-null    float64
 65  2021           141 non-null    float64
 66  2022           141 non-null    float64
 67  Sub-Region     141 non-null    object
 68  Income Group   141 non-null    object
 69  Area (KM²)     141 non-null    float64
 70  Density (KM²)  141 non-null    int64
dtypes: float64(63), int64(1), object(7)
memory usage: 78.3+ KB

# 03: description of data

In [5]:
df.describe()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2015,2016,2017,2018,2019,2020,2021,2022,Area (KM²),Density (KM²)
count,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,...,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,1.410000e+02,141.000000
mean,0.170879,-0.031722,-0.018997,-0.078260,-0.239986,0.088922,-0.116098,-0.186918,0.156730,0.077420,...,1.261719,1.433776,1.277826,1.292865,1.423229,1.524717,1.328427,1.330796,6.291204e+05,384.517730
std,0.408701,0.346126,0.363845,0.293205,0.269671,0.397361,0.326763,0.271039,0.290869,0.317098,...,0.426890,0.370991,0.390277,0.556017,0.412176,0.581188,0.484817,0.665933,1.547497e+06,1720.801323
min,-0.694000,-0.776000,-1.084000,-0.877000,-0.883000,-1.801000,-1.048000,-1.634000,-0.900000,-1.204000,...,0.160000,0.250000,0.017000,0.453000,0.566000,0.229000,-0.425000,-1.305000,2.020000e+00,0.000000
25%,-0.089000,-0.207000,-0.188000,-0.229000,-0.383000,-0.046000,-0.252000,-0.275000,0.024000,-0.044000,...,1.018000,1.171000,1.041000,0.881000,1.169000,1.192000,1.026000,0.875000,2.104100e+04,27.000000
50%,0.118000,-0.061000,-0.006973,-0.069118,-0.247155,0.105005,-0.125000,-0.195000,0.186000,0.108000,...,1.231000,1.438481,1.275000,1.149000,1.408000,1.477000,1.300000,1.256000,1.184840e+05,92.000000
75%,0.264000,0.092000,0.169000,0.085000,-0.090000,0.247000,-0.037000,-0.069000,0.303000,0.272000,...,1.502000,1.673000,1.539000,1.507000,1.624000,1.726000,1.569000,1.764000,4.881000e+05,223.000000
max,1.892000,0.983000,1.202000,1.097000,0.857000,1.151000,1.088000,0.476000,0.815000,0.855000,...,2.613000,2.381000,2.493000,2.524000,2.642000,3.550000,2.676000,2.929000,9.984670e+06,18149.000000

# rows and columns of data

In [7]:
df.head()

,Country,ISO3,Indicator,Unit,Source,1961,1962,1963,1964,1965,...,2017,2018,2019,2020,2021,2022,Sub-Region,Income Group,Area (KM²),Density (KM²)
0,Albania,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.627,0.326,0.075,-0.166,-0.388,...,1.121,2.028,1.675,1.498,1.536,1.518,Europe & Central Asia,Upper middle income,28748.0,103
1,Algeria,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.164,0.114,0.077,0.250,-0.100,...,1.512,1.210,1.115,1.926,2.330,1.688,Middle East & North Africa,Lower middle income,2381741.0,19
2,American Samoa,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.079,-0.042,0.169,-0.140,-0.562,...,1.435,1.189,1.539,1.430,1.268,1.256,East Asia & Pacific,High income,199.0,220
3,Angola,AGO,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.041,-0.152,-0.190,-0.229,-0.196,...,0.870,1.395,1.752,1.162,1.553,1.212,Sub-Saharan Africa,Lower middle income,1246700.0,29
4,Antigua and Barbuda,ATG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,0.090,0.031,0.288,0.214,-0.385,...,0.958,0.627,0.797,1.131,0.862,0.770,Latin America & Caribbean,High income,442.0,214

# 04: checking nique values